@font-face {
  font-family: 'RobotoSlab';
  src: url('./RobotoSlab-VariableFont_wght.ttf') format('truetype');
}
body {
  text-align: center;
  margin: 0;
  font-family: 'RobotoSlab';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e2e36;
  color: #aaafb2;
}
p, h1, h2, h3, h4, h5 {
  margin: 0;
}
h3 {
  font-weight: 200;
}

.App {
  z-index: 1000;
  display: grid;
  grid-template-rows: 5fr 1fr 2fr 4fr;
  grid-template-columns: 1fr 4fr 1fr;
  max-height: 1vh;
  max-width: 1275px;
  margin: auto;
  scrollbar-color: #777 #121c21;
}
.supply-market,
.info,
.in-play {
  grid-column-start: 1;
  grid-column-end: span 2;
}
.combo-mat {
  grid-column-start: 3;
  grid-column-end: span 4;
  grid-row-start: 3;
  grid-row-end: span 4;
}
.info {
  height: 6vh;
  display: flex;
  justify-content: left;
  align-items: flex-end;
}
.hand,
.in-play {
  background-color: #1c272d;
  margin: .5rem;
}
.hand {
  height: calc(90vh - 29.35rem);
  flex-direction: row;
}
.hand {
  display: flex;
  justify-content: center;
}
.logs {
  min-height: 18.25rem;
}
.supply-market {
  min-height: 19rem;
  overflow: auto
}
.supply {
  text-align: left;
  margin: none;
}
.stack {
  display: flex;
  flex-direction: column;
}
.in-play {
  height: 9.8rem;
}
.logs,
.trash,
.combo-mat {
  outline: 1px solid #777;
}
.info {
  margin: 0 .5rem;
}
.trash,
.combo-mat,
.button-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: .5rem;
}
.logs {
  background-color: #121c21;
  padding: .3rem .5rem 0 .5rem;
  position: relative;
  margin: .5rem;
  overflow: hidden;
}
.log-readout {
  height: 88%;
  width: 100%;
  overflow: auto;
  text-align: left;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 6px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 2px;
}
.log-readout::-webkit-scrollbar {
  background-color: #121c21;
}
.in-play::-webkit-scrollbar,
.hand::-webkit-scrollbar {
  background-color: #1c272d;
}
.log {
  font-size: 12px;
}
.dotdotdot {
  font-size: 10px;
}
.turn-log {
 font-weight: bold;
}
.active:hover {
  cursor: pointer;
  outline: 1px solid #f06970;
}
.deck {
  background-color: #121c21;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  height: 2.5rem;
  width: 100%;
}
.deck,
.logs,
.info,
.instructions,
.game-button {
  cursor: default;
}
.discard-stack {
  display: flex;
  flex-direction: column-reverse;
  max-height: 85vh;
  overflow: auto;
  padding: 0 .5rem;
  margin: .5rem 0;
}
.breakline {
  display: block;
  height: 1px;
  width: 100px;
  top: 0;
  background-color: #777;
  width: 100%;
  margin-top: .25rem;
}
.hand,
.in-play {
  overflow: auto;
}
.live:hover {
  outline: 1px solid #aaafb2;
}
.full-card,
.card {
  cursor: default;
  font-size: 14px;
  height: 3.75rem;
  width: 12.5rem;
  margin: 1rem .3rem;
  margin-bottom: 0;
}
.full-card-wrapper {
  position: absolute;
  top: 2.25rem;
  left: 4.5rem;
}
.full-card {
  height: 20rem;
  z-index: 10000;
  position: fixed;
  box-shadow: -.2rem .2rem .5rem #000;
}
.full-card-live {
  cursor: pointer;
  outline: 1px solid #aaafb2;
}
.lower-card {
  top: -16.5rem;
}

.live {
  outline: 1px solid #f06970;
  cursor: pointer;
}
.card-top {
  background-color: #121c21;
  font-size: 16px;
  width: 100%;
  padding: .3rem 0;
  margin: 0;
  text-align: center;
}
.full-card .card-top {
  height: 17.5rem;
}
.card-top p {
  margin-bottom: .25rem;
}
.action-image,
.card-image {
  background-position: center;
  background-size: cover;
}
.action-image {
  height: 8rem;
}
.card-image {
  height: 16.2rem;
}
.card-btm {
  display: flex;
  justify-content: space-between;
  margin: .2rem;
  color: #121c21;
}
.card-side {
  margin: 0 .2rem;
}
.card-stack {
  cursor: default;
}
.card-stack,
.card-stack-live {
  position: absolute;
  top: .35rem;
  right: .02rem;
  text-shadow: -.1rem .1rem .2rem #000;
}
.card-stack-live {
  cursor: pointer;
  color: #f06970;
}
.card-stack-live:hover {
  color: #aaafb2;
}
.card-info {
  position: relative;
  display: inline-block;
}
.button-space {
  display: inline-block;
  height: 1.65rem;
}
.game-button {
  height: 1.775rem;
  display: flex;
  width: 12.5rem;
  background-color: #121c21;
  align-items: center;
  justify-content: space-around;
}
.trash {
  height: 3.8vh;
}
.start-button {
  max-width: 8rem;
  margin: 2rem auto;
}
.title {
  margin-top: 2rem;
}
.card-instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 7.8rem;
  font-size: 14px;
  margin: auto .5rem;
}
.log-title,
.game-button {
  padding-bottom: .1rem;
  font-size: 14px;
}
.instructions {
  font-size: 14px;
  padding: .4rem 0 .5rem 0;
}
.coin {
  color: #f2cda2;
  font-size: 13px;
  border: 1px solid #f2cda2;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  padding-bottom: .1rem;
  padding-left: .01rem;
  text-align: center;
}
.main-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  margin: .5rem;
}
.username-input {
  width: 25rem;
  height: 2.5rem;
  margin: 1rem;
  padding: .25rem;
  background-color: #1e2e36;
  border: 1px solid #aaafb2;
  color: #fa9a6a;
  text-align: center;
  font-size: 1rem;
  font-family: RobotoSlab;
  caret-color: #1e2e36;
}
input:focus {
  outline: none;
}
.logout-window {
  background-color: #121c21;
  display: inline-block;
  position: absolute;
  top: 2rem;
  right: .5rem;
  font-size: .8rem;
  padding: .5rem;
}
.logout-button:hover {
  color: #aaafb2;
  outline: 1px solid #aaafb2;
  background-color: #121c21;
}
.logout-button {
  background-color: #f06970;
  color: #121c21;
  display: inline-block;
  margin-top: .8rem;
  padding: .2rem .5rem;
  cursor: pointer;
}

.burger {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: .5rem;
  right: .5rem;
  padding: 0 6px;
  transition: 0.4s;
}
.burger:hover {
  background-color: #f06970;
}
.burger:hover .bar1, 
.burger:hover .bar2, 
.burger:hover .bar3 {
  background-color: #121c21;
}
.bar1, .bar2, .bar3 {
  width: 17.5px;
  height: 2.5px;
  background-color: #aaafb2;
  margin: 3px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4.5px, 3px);
  transform: rotate(-45deg) translate(-4.5px, 3px);
  background-color: #121c21
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-4px, -4px);
  transform: rotate(45deg) translate(-4px, -4px);
  background-color: #121c21
}

.red {
  color: #f06970;
}
.blue {
  color: #718c97;
}
.orange {
  color: #fa9a6a;
}
.green {
  color: #76a08c;
}
.Treasure {
  background-color: #f2cda2;
}
.Victory {
  background-color: #76a08c;
}
.Action {
  background-color: #aaafb2;
}
.default-text {
  color: #aaafb2;
}
.Treasure-text {
  color: #f2cda2;
}
.Victory-text {
  color: #76a08c;
}
.curse {
  background-color: #cdb4ce;
}
.hidden {
  display: none;
}
.top-spaced {
  margin-top: .5rem;
}
.inline {
  display: inline-block;
}
.block {
  display: block;
}
.transparent {
  opacity: .5;
}
.outline {
  outline: 1px solid #aaafb2;
}
.spaced {
  margin: .5rem;
}
.spacer {
  display: inline-block;
  height: 12px;
}
.center {
  margin: auto;
}

/* Modals */
.modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.modal-box {
  display: inline-block;
  border: 1px solid #777;
  background-color: #1e2e36;
  max-width: 80vw;
  position: relative;
}
.modal-content {
  margin: 0 2.5em 1.25rem;
}
.modal-box h3,
.modal-box h4 {
  margin: .2em;
}
.x-close-button:hover {
  background-color: #f06970;
  color: #121c21;
}
.x-close-button {
  display: inline-block;
  position: absolute;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
  color: #aaafb2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  background-color: #121c21;
  padding: .3rem .5rem;
}
.active-red {
  background-color: #f06970;
  color: #121c21;
}

@media screen and (max-width: 1275px) {
  .card {
    width: 10.5rem;
  }
}
@media screen and (max-width: 1108px) {
  .card {
    width: 9rem;
  }
}
@media screen and (max-width: 988px) {
  .card {
    width: 8rem;
  }
}
@media screen and (max-width: 990px) {
  .card {
    width: 8rem;
  }
}
@media screen and (max-width: 908px) {
  .card {
    width: 7rem;
  }
}
